<div class="container align-items-center w-100 py-5">
    <h1 class="pb-5">The Longest Word</h1>
    <div class="letter-grid">
        <% @letters.each do |letter| %>
            <p class="letter">
                <%= letter %>
            </p>
            <% end %>
    </div>
</div>
<div class="container align-items-center w-100 pt-5">
    <p class="py-3 text-center">What is the longest word you can find?</p>
    <form action="/score" method="POST">
        <div class="form-row align-items-center justify-content-center mx-auto">
            <div class="input-group-prepend">
                <input type="text" class="form-control" name="play" /><button type="submit" class="btn btn-primary">
					play
				</button>
            </div>
        </div>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :letters, @letters %>
            <%= hidden_field_tag :start_time, @start_time %>
    </form>
    <div class="row align-items-center justify-content-center mx-auto pt-3">
    <%= link_to 'Get new letters', games_new_path %>
    </div>
</div>