<div class="container align-items-center w-100 pt-5">
    <h1>New Game</h1>
    <div class="letter-grid">
        <% params[:letters].split.each do |letter| %>
            <p class="letter">
                <%= letter %>
            </p>
            <% end %>
    </div>
</div>
<div class="container align-items-center w-100 pt-5">
    <h2 class="py-3 text-center">Here's your results:</h2> 
    <div>
    <p><strong>Your word:</strong> <%= @attempt %></p>
    <p><strong>Your time:</strong> <%= @results[:time].round(2) %> seconds</p>
    <p><strong>Your score:</strong> <%= @results[:score].round(2) %></p>
    <p class="row align-items-center justify-content-center mx-auto pt-3" ><strong><%= @results[:message] %></strong></p>
    </div>
    <div class="row align-items-center justify-content-center mx-auto pt-3">
    <%= link_to 'Play again', games_new_path %>
    </div>
</div>